.eMarket-products-wrapper {
    .eMarket-products-title {
        font-weight: 700;
        color: #f96332;
    }
    .eMarket-products-image {
        height: 300px;
    }
    .card-image {
        text-align: center;
    }
}