<div class="eMarket-products-wrapper">
  <h3>Nous avons trouvé au total <span class="eMarket-category-title">{{numberProductsByCategory}}</span> produits de la catégorie: <span class="eMarket-category-title">{{categoryTitle}}</span></h3>
  <div class="row" *ngIf="products">
    <div *ngFor="let product of products._embedded.products" class="eMarket-product-container col-lg-4 col-md-6">
        <div (click)="onGetProductDetails(product)" class="card card-product card-plain">
            <div class="card-image">
                <a (click)="onGetProductDetails(product)">
                  <img src="{{product.imagePath}}" alt="{{product.name}}" class="eMarket-products-image" />
                </a>
            </div>
            <div class="card-body">
                <a href="#">
                <h4 class="card-title">{{product.name}}</h4>
                </a>
                <p class="card-description">
                  {{product.description}}.
                </p>
                <div class="card-footer">
                    <div class="price-container">
                        <span class="price"> &euro; {{product.unitPrice}}</span>
                    </div>
                    <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" placement="top" ngbTooltip="Remove from wishlist">
                        <i class="now-ui-icons ui-2_favourite-28"></i>
                    </button>
                </div>
                <div class="eMarket-product-buy text-center">
                  <button (click)="onGetProductDetails(product)" class="btn btn-primary btn-round">
                    <i class="now-ui-icons shopping_cart-simple"></i> 
                    Acheter
                  </button>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>