<div class="eMarket-shop-cart-wrapper">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <small>Shopping Cart Table</small>
                </h4>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-shopping">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th>{{ tableData3.headerRow[2] }}</th>
                                    <th>{{ tableData3.headerRow[3] }}</th>
                                    <th>{{ tableData3.headerRow[4] }}</th>
                                    <th class="text-right">{{ tableData3.headerRow[5] }}</th>
                                    <th class="text-right">{{ tableData3.headerRow[6] }}</th>
                                    <th class="text-right">{{ tableData3.headerRow[7] }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData3.dataRows">
                                    <td>
                                        <div class="img-container">
                                            <img src="assets/img/{{row[0]}}" alt="...">
                                        </div>
                                    </td>
                                    <td class="td-name">
                                        <a>{{row[1]}}</a>
                                        <br />
                                        <small>{{row[2]}}</small>
                                    </td>
                                    <td>{{row[3]}}</td>
                                    <td>{{row[4]}}</td>
                                    <td class="td-number"><small>€</small>{{row[5]}}</td>
                                    <td class="td-number">
                                        {{row[6]}}
                                        <div class="btn-group">
                                            <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                                            <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-add"></i> </button>
                                        </div>
                                    </td>
                                    <td class="td-number">
                                        <small>€</small>{{row[7]}}
                                    </td>
                                    <td class="td-actions">
                                        <button type="button" placement="top" ngbTooltip="Remove item" class="btn btn-neutral">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                    </td>
                                    <td class="td-total">
                                        Total
                                    </td>
                                    <td class="td-price">
                                        {{getTotal2() | currency:'EUR':'symbol':'1.2-2'}}
                                    </td>
                                    <td colspan="3" class="text-right">
                                        <button type="button" class="btn btn-info btn-round " (click)="showElements()">Complete Purchase <i class="now-ui-icons arrows-1_minimal-right"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
