.eMarket-footer-wrapper {
    padding: 50px 0;
    ul.links-vertical li {
        padding: 5px;
        a:hover {
            color: #f96332;
            left: 5px;
            position: relative;
            transition: all 300ms;
        }
    }
    ul.social-buttons li {
        padding: 5px;
    }
}