<div class="wrapper">
  <ngb-carousel>
      <ng-template ngbSlide>
        <div class="page-header header-filter">
          <div class="page-header-image" style="background-image: url('assets/img/bg40.jpg');"></div>
          <div class="content-center text-center">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto2">
                      <h1 class="title">Finding the Perfect.</h1>
                      <h4 class="description text-white">The haute couture crowds make stylish statements between shows during couture season in Paris...</h4>
                  </div>
              </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="page-header header-filter">
            <div class="page-header-image" style="background-image: url('assets/img/bg41.jpg');"></div>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h1 class="title">Street Style: Couture.</h1>
                        <h4 class="description text-white">See what Karlie Kloss, Tracee Ellis Ross and others wore between the shows...</h4>
                    </div>
                </div>
            </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="page-header header-filter">
            <div class="page-header-image" style="background-image: url('assets/img/bg29.jpg');"></div>
            <div class="content-center text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">For Men With Style.</h1>
                        <h4 class="description text-white">Shirts that actually fit? Check. Linen shorts? Yup. Those wider pants suddenly in style? Got them, too....</h4>
                    </div>
                </div>
            </div>
        </div>
      </ng-template>
  </ngb-carousel>
  <div class="main">
        <div class="section">
            <div class="container-fluid">
                <h2 class="section-title">Find what you need</h2>
                <div class="row">
                  <div class="col-md-2">
                    <div class="nav-pills-navigation" *ngIf="categories">
                      <div class="nav-pills-wrapper">
                        <ngb-tabset type="pills" class="nav nav-pills nav-pills-primary vertical-pills nav-pills-icons" [orientation]="'vertical'">
                          <ngb-tab *ngFor="let category of categories._embedded.emarketCategories">
                            <ng-template ngbTabTitle>
                              <span (click)="getProducts(category)">
                                <i class="now-ui-icons objects_umbrella-13"></i> 
                                {{ category.name }}
                              </span>
                            </ng-template>
                          </ngb-tab>
                        </ngb-tabset>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <router-outlet></router-outlet>
                  </div>
                </div>
            </div>
        </div>
        <!-- section -->
        <div class="container">
            <h2 class="section-title">News in fashion</h2>
        </div>
        <div class="projects-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 px-0">
                        <div class="card card-fashion card-background" style="background-image: url('assets/img/bg35.jpg')">
                            <div class="card-body">
                                <div class="card-title text-left">
                                    <h2>
                                        <a href="#pablo">
                                            The New York Times Todd Snyder and Raf Simons Party During Men’s Fashion Week
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-footer text-left">
                                    <div class="stats">
                                        <span>
                                            <i class="now-ui-icons users_circle-08"></i>Emy Grace
                                        </span>
                                        <span>
                                            <i class="now-ui-icons tech_watch-time"></i> June 6, 2017
                                        </span>
                                    </div>
                                    <div class="stats-link pull-right">
                                        <a href="#pablo" class="footer-link">Fashion Week</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-0">
                        <div class="card-container">
                            <div class="card card-fashion">
                                <div class="card-title">
                                    <a href="#pablo">
                                    </a>
                                    <h4>
                                        <a href="#pablo">
                                        </a>
                                        <a href="#pablo">
                                            Valentina Garavani Holds a Summer Lunch in Honor of Sofia Coppola...
                                        </a>
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <div class="card-footer text-left">
                                        <div class="stats">
                                            <span>
                                                <i class="now-ui-icons users_circle-08"></i>Jerry McGregor
                                            </span>
                                            <span>
                                                <i class="now-ui-icons tech_watch-time"></i> June 10, 2017
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-fashion card-background" style="background-image: url('assets/img/bg40.jpg')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <h2 class="section-title">Latest Offers</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <img class="img rounded" src="assets/img/saint-laurent1.jpg" />
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#pablo">Saint Laurent</a>
                                </h4>
                                <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                                <div class="card-footer">
                                    <div class="price-container">
                                        <span class="price price-old"> &euro;1,430</span>
                                        <span class="price price-new"> &euro;743</span>
                                    </div>
                                    <div class="stats stats-right">
                                        <button type="button" placement="top" ngbTooltip="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                            <i class="now-ui-icons ui-2_favourite-28"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <img class="img rounded" src="assets/img/saint-laurent.jpg" />
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <h4 class="card-title">Saint Laurent</h4>
                                </h4>
                                <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                                <div class="card-footer">
                                    <div class="price-container">
                                        <span class="price price-old"> &euro;1,430</span>
                                        <span class="price price-new">&euro;743</span>
                                    </div>
                                    <div class="stats stats-right">
                                        <button type="button" placement="top" ngbTooltip="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                            <i class="now-ui-icons ui-2_favourite-28"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <img class="img rounded" src="assets/img/gucci.jpg" />
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <h4 class="card-title">Gucci</h4>
                                </h4>
                                <p class="card-description">The smooth woven-wool is water resistant to ensure you stay pristine after a long-haul flight. Cut in a trim yet comfortable regular fit.</p>
                                <div class="card-footer">
                                    <div class="price-container">
                                        <span class="price price-old"> &euro;2,430</span>
                                        <span class="price price-new">&euro;890</span>
                                    </div>
                                    <div class="stats stats-right">
                                        <button type="button" placement="top" ngbTooltip="" class="btn btn-icon btn-neutral btn-default" data-original-title="Add to Wishlist">
                                            <i class="now-ui-icons ui-2_favourite-28"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section -->
        <div class="subscribe-line subscribe-line-image" style="background-image: url('assets/img/bg43.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                          <div class="text-left">
                              <h4 class="title">Subscribe to our Newsletter</h4>
                              <p class="description">
                                  Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                              </p>
                          </div>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto">
                      <div class="card card-raised card-form-horizontal">
                            <div class="card-body">
                                <form method="" action="">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text">  <i class="now-ui-icons ui-1_email-85"></i></span>
                                              </div>
                                                <input type="email" class="form-control" placeholder="Your Email..." (focus)="focus=true" (blur)="focus=false">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary btn-block">Subscribe</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
  <!-- end-main-raised -->
    <footer class="footer ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/license">
                            License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
