.eMarket-shop-wrapper {
    ul li a {
        .eMarket-shop-login,
        .eMarket-shop-signup {
            left: 5px;
            position: relative;
            font-weight: 600;
            font-size: 13px;
        }
    }
}