.eMarket-shop-wrapper {
    ul li a {
        .eMarket-shop-login,
        .eMarket-shop-signup {
            left: 5px;
            position: relative;
            font-weight: 600;
            font-size: 13px;
        }
    }
    .eMarket-shopping-cart-items {
        display: none;
    }
    .eMarket-shopping-cart {
        left: 70px;
        position: relative;
        @media only screen and (max-width: 767px) {
            left: 0;
            top: -30px;
        }
        &:hover,
        &:focus {
            .eMarket-shopping-cart-items {
                display: block;
                top: 66px !important;
            }
        }
    }
    .eMarket-shop-number-products {
        position: relative;
        top: -15px;
        left: 5px;
        border: 1px solid #f96332;
        background-color: #f96332;
        width: 30px;
        height: 30px;
        border-radius: 21px;
    }
}
.navbar {
    height: 80px;
    padding-top: 10px;
}